[submodule "fhevm-hardhat-template"]
	path = fhevm-hardhat-template
	url = git@github.com:yoona333/fhevm-hardhat-template.git
[submodule "zh-blindauction"]
	path = zh-blindauction
	url = git@github.com:yoona333/zh-blindauction.git
